*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar{
    background-color: #003b95;
    height: 60px;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1300px;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
}


.navButton{
    background-color: #003b95;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.navButton:hover{
    background-color: #f0f0f0;
    color: #003b95;
}